@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-size: 5rem;
}
body{
    background: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    color: #fff;
    display: grid;
    justify-content: center;
}
.conversor #entrada-user{ 
    border: none;
    border-bottom: 1px solid white;
    box-shadow: 1rem 5rem 5rem;
    padding: 5px;
    background: none;
    color: white; 
    outline: none;
    margin-left: 15px; 
}

button{
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: white;
    margin-left: 15px;
    cursor: pointer;
    background: none;
    border: 2px solid #696969;
} 
button:hover{
     background-color: #d4af37;
      box-shadow: 1px 1px 1px 2px black;
} 

#exclusao{
         border: none; background-color: #df2c14; 
}

.resultados{
    display: flex;
    flex: 1;
}
.resultados>img{
    width: 6rem;
    padding: 1rem;
}