@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-size: 5rem;
    margin-left: 10rem;
    height: 6rem;
}

img{
    width: 6rem;
    padding: 1rem;
}
span{
    font-size: 2rem;
}
body{
    background: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
}

.container{
    color: #fff;
    font-weight: bold;
    display: grid;
    justify-content: center;

}
.conversor{
    margin-top: 10rem;
}
.conversor #entrada-user{ 
    border: none;
    border-bottom: 1px solid white;
    box-shadow: 1rem 5rem 5rem;
    padding: 5px;
    background: none;
    color: white; 
    outline: none;
    margin-left: 1.5rem; 
}

button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    margin-left: 1.5rem;
    cursor: pointer;
    background: none;
    border: 2px solid #696969;
} 
button:hover{
    background-color: #d4af37;
    box-shadow: 1px 1px 1px 2px black;
} 

#exclusao{
         border: none; background-color: #df2c14; 
}

.resultados{
    display: flex;
    flex: 1;
}
.titulo{ display: flex; 
    align-items: center; 
}

.div-dolar, .div-euro, .div-iene{
    border-radius: 1rem; 
    box-shadow: 1px 1px 1px 1px black;

} 
.dolar-conteudo, .euro-conteudo, 
.iene-conteudo{
     padding: 10px; 
} 